.App {
  /* text-align: center; */
}
.error{ 
  color: red;
}

.addNewBtn {
  background-color: #c3d2f0;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-end;
  /* font-size: calc(10px + 2vmin) */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableDiv{
  background-color: #c3d2f0;
  height: 100%;
  width: 85%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 1px;
  margin-top: 5rem;
  padding-right: 30em;
  flex-direction: column;
  display: flex;
}
.heading{
  background-color: #c3d2f0;
  align-items: center;
  text-align: center;
  padding: 0.2%;
  
 
}